.kanban-board {
  display: inline-block;
  height: 95vh;
  width: 100%; }
  .kanban-board .board {
    background-color: #d2e4d2;
    border: 1px solid #000;
    height: 100%;
    width: 30%;
    display: inline-block; }
    .kanban-board .board h2 {
      text-align: center;
      border-bottom: 1px solid #000; }
