$grey: #d2e4d2;
$blue: #007da1;

.kanban-board {
  display: inline-block;
  height: 95vh;
  width: 100%;

  .board {
    background-color: $grey;
    border: 1px solid #000;
    height: 100%;
    width: 30%;
    display: inline-block;

    h2 {
      text-align: center;
      border-bottom: 1px solid #000;
    }
  }
}

.button-wrapper {
  .button {
    position: fixed;
    left: 93%;
    top: 5%;
  }
}

.add-task-dialog {
  width: 480px;
  height: 100%;
  position: absolute;
  top: 15%;
  background-color: white;
  left: 32%;
  border: 1px solid $blue;

  &.hidden {
    display: none;
  }

  .new-task-options {
    padding: 10px;
  }

  h2 {
    background-color: $blue;
    text-align: center;
    color: #fff;
    margin: 0px;
    padding: 20px 0;
  }

  span {
    float: left;
    width: 100%;
    margin: 20px 0;
  }

  .properties input {
    float: right;
    margin-right: 30%;
    width: 180px;
  }

  .submit-button,
  .cancel-button {
    cursor: pointer;
    margin: 20px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid $blue;
    background-color: $blue;
    color: #fff;
    position: relative;
    bottom: 12%;
  }

  .submit-button {
    float: right;
  }
}